<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Rky - dashBoard</title>
    <meta name="description" content="d3 and Angular">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <html class="rky">
  </head>
  <body>
       <h1>{{title}}</h1><hr>
        <p>
		c'est parti pour créer des mesures ...
        </p>
        <div layout-gt-xs="row">
          <span>Tag:</span>
            <input margin-left=100px type="text" ng-model="capteur.tag"></input></div>
        <div layout-gt-xs="row">
          <span>Libellé:</span>
            <input type="text" ng-model="capteur.name"></input></div>
        <div layout-gt-xs="row">
        <span>Désignation:</span>
        <input type="text" ng-model="capteur.info"></input></div>
        <div layout-gt-xs="row">
        <span>Unité:</span>
        <input type="text" ng-model="capteur.unit"></input></div>
        <div layout-gt-xs="row">
        <button ng-click="clickButton()">créer</button></div>
      
    <div ng-model="sensors" ng-repeat="x in sensors">test {{x}}</div> 

    <div class="container" >
    <p>toto</p>
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="sensor in Sensors" style="cursor:pointer">
            <td>
             <a ng-href="#/api/v1/test/{{sensor}}">Yop {{ sensor}} </a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </body>
</html>